body {
    margin: 0;
}

#toolbar ul {
    list-style: none;
    display: inline-block;
    margin: 0px 30px 0px 0px;
}

#toolbar ul li {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 0px;
    position: relative;
    user-select: none;
}

#toolbar ul li .button-background {
    background: transparent;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#toolbar ul li:hover .button-background {
    background: #CCCCCC
}

#toolbar ul li .image-wrapper {
    width: 100%;
    height: 100%;
    margin: 1px;
}

#toolbar ul li img {
    z-index: 5;
}

#toolbar ul li input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#toolbar ul li input:checked ~ .button-background {
    background: #AAAAAA;
    border-width: 2px;
    width: 38px;
    height: 38px;
}

#toolbar button {
    height: 40px;
}

#undo {
    width: 40px;
    background-image: url(images/undo-icon.svg);
}

#redo {
    width: 40px;
    background-image: url(images/redo-icon.svg);
}

#calculate-button {
    width: 40px;
    background-image: url(images/calculate-icon.svg);
}

#animate {
    width: 40px;
    background-image: url(images/animate-icon.svg);
}

#workspace {
    margin-top: 25px;
    width: 1080px;
    height: 720px;
    position: relative;
    border: solid black 1px;
    resize: both;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
}

#grid-canvas {
    width: 100%;
    height: 100%;
    z-index: -5;
}

.label {
    position: absolute;
}

.rope-segment {
    width: 2px;
    background-color: red;
    position: absolute;
    z-index: 3;
}

.object-node {
    width: 10px;
    height: 10px;
    border: solid 1px black;
    border-radius: 50% ;
    background-color: green;
    position: absolute;
    z-index: 5;
}

.fixed-node {
    background-color: orange;
    position: absolute;
    width: 12px;
    height: 12px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    z-index: 5;
}

.pulley {
    border-radius: 50%;
    border: solid 2px black;
    position: absolute;
    z-index: 4;
}

.mass {
    border: solid 2px black;
    position: absolute;
    z-index: 4;
}

.scaling-pulley {
    border-radius: 50%;
    border: solid 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 4;
}

.scaling-rope-segment {
    width: 2px;
    background-color: rgba(255, 0, 0, 0.4);
    position: absolute;
    z-index: 3;
}

.scaling-mass {
    border: solid 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 4;
}